/*001*/

body {
    background-color: #FFE6A7;
    font-size: large;
}


/*001*/

h1 {
    font-family: "Segoe UI", sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    line-height: 2em;
    background-color: #6F1D1B;
    color: white;
    text-transform: uppercase;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    grid-area: header;
}


/*001*/

h2 {
    text-align: center;
}


/*001*/

footer {
    text-align: center;
}


/*001*/

nav form label {
    color: white;
}

input[type="file"] {
    color: white;
}


/* 011 */

label[for="Hombre"],
label[for="Mujer"] {
    display: block;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

fieldset {
    border-style: solid;
    border-width: 0.4em;
    border-color: #99582A;
}


/*001*/

nav {
    background-color: #99582A;
    display: flex;
    flex-direction: column;
    padding: 1em;
    text-align: center;
}


/*002*/

nav a {
    float: inline-start;
    color: white;
    padding: 0.8em 1em;
    text-decoration: none;
    font-size: 20px;
}


/*012*/

nav a:hover {
    background-color: #FFE6A7;
    color: black;
}


/*001*/

input[type="submit"] {
    text-decoration: none;
    padding: 0.5em;
    font-weight: 600;
    font-size: 1.1em;
    color: #ffffff;
    background-color: #99582A;
    border-radius: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}